body{
    font-family: 'PT Serif', serif;
}
h1{
    font-size: 45px;
    margin-left: 5%;
}
h3{
    text-align: center;
}
p{
    margin-left:2%;
}
.color-change{
    color: brown;
}
.container{
    display: flex;
    margin-top:5%;
    padding-left: 10%;
    padding-right: 30px; 
}
.link-button{
    text-decoration: none;
    background-color: brown;
    padding: 10px 10px;
    color: darkgoldenrod;
    border-radius: 10px;
}
.decoration{
    width: 50%;
    padding-right: 5%;
}
.style{
    border-radius: 10 px solid;
    background-color:rosybrown;
    background-image: url(images/dream-bg.png);
    background-repeat: no-repeat;
    background-position: right;
}
.food-item{
    width: 20%;
    display: flex;
    margin-left: 10%;
    padding: 25px;
}
.recipe{
text-align: center;
margin-left:15%;
}
.arrangement{
    display:flex;
    box-shadow: 10px 50px 110px seagreen;
    margin-bottom: 5%;
    text-align: center;
}
.image-one{
    width: 40%;
    border-image-width: 10%;
    margin: 1px;
    padding: 10px;
    border:7px solid rosybrown;
    border-radius: 10px;
}
footer p{
    text-align: center;
    color: brown;
}